{% extends 'landing.html' %}
{% load static %}

{% block head %}
<section class="hero__container container">
    <div class="container2">
        <p id="demo"></p>
        <br>
        <label for="name" >Ingresa tu nombre</label>
        <input type="text" id="nombre" required>
        <button class="cta" onclick="bienvenida()">Enviar</button>
    </div>
</section>
{% endblock %} 
{% block content %}
<main> 
    <section class="texto">
        <p>Te invitamos a recorrer nuestra página web, donde encontrarás algunos ejemplos de nuestros trabajos, donde le ponemos nuestra pasión y compromiso con los clientes.</p>
        <br>
        <p>Nuestra web está pensada para que encuentres de forma sencilla y atractiva toda la información que necesites sobre nuestra empresa y nuestros productos.</p>
        <br>    
        <p>Queremos que nos conozcas, que puedas saber de dónde venimos y presentarte a nuestro equipo, que puedas informarte con detalle de cómo cuidamos nuestros clientes. Te contamos nuestra manera de trabajar y nuestro compromiso con el entorno. Esperamos que nos cuentes si te ha gustado o si tienes sugerencias para hacernos mejorar.
            
            Muchas gracias tu visita.</p>
        </section>
        <section class="gallery" id="galeria">
            <div class="contenedor">
            <div class="contenedor-galeria">
                <img src="{% static './imgs/ejemplo1.jpg' %}" alt="" class="img_galeria">
                <img src="{% static '/imgs/ejemplo2.jpg' %}" alt="" class="img_galeria">
                <img src="{% static '/imgs/ejemplo3.jpg' %}" alt="" class="img_galeria">
            </div>
        </div>
    </section>
    <section class="imagen-light">
        <img src="{% static '/imgs/close.svg' %}" alt="" class="close">
        <img src="" alt="" class="agregar-imagen">
    </section>
    <section>
        <div>
            <br>
            <img src="{% static './imgs/flor1.png' %}" alt="" id="flor">
        </div>
    </section>
</main>
{% endblock %} 