
.container2{
    color: white;
    text-align: center;
}

label{
    font-size: x-large;
}

#demo{
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-name: slidein;
    animation-iteration-count: infinite;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}


@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

#flor {
    animation-duration: 10s;
    animation-direction: normal;
    animation-name: slidein2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 3%;
    border-radius: 50%;
  }
  
  @keyframes slidein2 {
    0% {background-color: white;} /*Amarillo*/
    25% {background-color: #6B33FF;} /*Naranja*/
    50% {background-color: #000;} /*Negro*/
    75% {background-color: #6B33FF;} /*Otra vez naranja*/
    100% {background-color: white;} /*Otra vez amarillo*/
    from {
        margin-left: 90%;
      }
    
      to {
        transform: rotate(360deg);
      }
  }

.texto {
    padding: 0 100px;
    margin-top: 1.5rem;
    text-align: center;
    font-size: large;
    overflow: hidden;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden; /* todo lo que desborde se oculte    */
    margin: auto; /*Para centrar el contenido*/
    padding: 60px 0; /* Los elementos tengan una minima separacion*/
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.img_galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer; /*cambia a manito*/
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%); /*para ocultarlo*/
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0); /*para volver*/
}

.agregar-imagen{
    /* object-fit: cover; */
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: flex;
    top: 10rem;
    right: 20rem;
    width: 60px;
    cursor: pointer;
}


@media (max-width: 800px){
    .agregar-imagen{
        width: 80%;
    }
    .img_galeria{
        width: 45%;
    }
    /* .contenedor-galeria{
        display: grid;
        grid-template-columns: 5fr 5fr 5fr;
    } */
}

@media (max-width: 500px){
    .agregar-imagen{
        width: 90%;
    }
    .img_galeria{
        width: 95%;
    }
}